# Bonus: Temperature Analysis I

In [50]:
import pandas as pd
from datetime import datetime as dt

In [51]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()
# type(df["date"])

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [52]:
df['date'] = pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [53]:
# Convert the date column format from string to datetime

In [54]:
# Set the date column as the DataFrame index
df_dt = df.set_index('date')
df_dt.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [55]:
# Drop the date column

### Compare June and December data across all years

In [56]:
from scipy import stats

In [57]:
# Filter data for desired months
june_df = df_dt.loc[(df_dt['date']>=dt.datetime(2010,6,1)) & (df_dt['date']<=dt.datetime(2010-6-30))]
june_df

KeyError: 'date'

In [58]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis